<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DubboInterfaceTest" verbose="1" >
    <parameter name="maxRetries" value="1"/>
    <parameter name="displaycode" value="60200316115"/>
    <test name="PublicProjectInterface" >
        <classes>
            <class name="com.test.lejr.interfaces.projectInterface.PublicProjectInterfaceTest" />
        </classes>
    </test>
    <!--<listeners>-->
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter" />-->
        <!--<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
    <!--</listeners>-->
    <listeners>
        <listener class-name="com.test.lejr.util.customerListener.RetryListener" />
        <listener class-name="com.test.lejr.util.customerListener.TestListener" />
        <listener class-name="com.test.lejr.util.customerListener.MyReporterListener"/>
    </listeners>
</suite>
