<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd


	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="trade-soho3q-consumer" owner="liufeng,qianmingjin"/>

    <!-- zk注册中心配置 -->
    <dubbo:registry address="zookeeper://10.11.145.91:2181?backup=10.11.145.100:2181,10.11.145.103:2181" group=""/>
    
    <dubbo:protocol name="dubbo" port="-1" serialization="" threads="300" />   

    <!-- 消费者配置 -->
    <dubbo:consumer timeout="10000" check="false" group="test"
                    retries="0"  version=""/>

    <!-- 直连任何ip代码 -->
    <!-- <dubbo:reference id="userCmsInterfaces" interface="com.le.jr.trade.usercenter.interfaces.UserCmsInterfaces" url="dubbo://10.16.95.27:20880" timeout="300000"/> -->

    <!-- 订单 -->
    <!--<dubbo:reference id="orderCommonServiceInterface"-->
                     <!--interface="com.le.jr.trade.ordercenter.interfaces.OrderCommonServiceInterface"/>-->
    <!--<dubbo:reference id="orderSystemInterface" interface="com.le.jr.trade.ordercenter.interfaces.OrderSystemInterface"/>-->
    <!--<dubbo:reference id="orderUserServiceInterface"-->
                     <!--interface="com.le.jr.trade.ordercenter.interfaces.OrderUserServiceInterface"/>-->
    <!--库存-->
    <!--<dubbo:reference id="stockInnerInterface" interface="com.le.jr.trade.stockcenter.interfaces.StockInnerInterface"/>-->

    <!-- 项目 -->
    <!--<dubbo:reference id="productInterfaces" interface="com.lejr.trade.projectcenter.interfaces.ProductInterfaces" timeout="200000"/>-->
    <!--<dubbo:reference id="projectInterfaces" interface="com.lejr.trade.projectcenter.interfaces.ProjectInterfaces"-->
                     <!--timeout="20000"/>-->
    <!--<dubbo:reference id="projectIncomeInterfaces"-->
                     <!--interface="com.lejr.trade.projectcenter.interfaces.ProjectIncomeInterfaces"/>-->
    <!--<dubbo:reference id="reservePublishProjectInterfaces"-->
                     <!--interface="com.lejr.trade.projectcenter.interfaces.ReservePublishProjectInterfaces"-->
                     <!--timeout="20000"/>-->
    <!--<dubbo:reference id="projectContractInterfaces"-->
                     <!--interface="com.lejr.trade.projectcenter.interfaces.ProjectContractInterfaces"/>-->
    <!--<dubbo:reference id="displayInterfaces" interface="com.lejr.trade.projectcenter.interfaces.DisplayInterfaces" timeout="200000"/>-->
    <!--<dubbo:reference id="productFinanceInterfaces"-->
                     <!--interface="com.lejr.trade.projectcenter.interfaces.ProductFinanceInterfaces"/>-->
    <dubbo:reference id="publicProjectInterfaces"
                     interface="com.lejr.trade.projectcenter.interfaces.PublicProjectInterfaces"/>
    <!--项目属性-->
    <!--<dubbo:reference id="projectPropertyInterfaces"-->
                     <!--interface="com.lejr.trade.projectcenter.interfaces.ProjectPropertyInterfaces"/>-->

    <!-- 活期项目 -->
    <!--<dubbo:reference id="currentInterfaces" interface="com.lejr.trade.projectcenter.interfaces.CurrentInterfaces"/>-->

    <!-- 账户 -->
    <!--<dubbo:reference id="accountInterface" interface="com.le.jr.trade.accountcenter.interfaces.AccountInterfaces"/>-->
    <!-- 项目维度账户信息 -->
    <!--<dubbo:reference id="projectAssetProfitInterface"-->
                     <!--interface="com.le.jr.trade.accountcenter.interfaces.ProjectAssetProfitInterfaces"/>-->
    <!-- 订单维度账户信息 -->
    <!--<dubbo:reference id="orderAssetProfitInterface"-->
                     <!--interface="com.le.jr.trade.accountcenter.interfaces.OrderAssetProfitInterfaces"/>-->
    <!-- 用户 -->
    <!--<dubbo:reference id="userInterfaces" interface="com.le.jr.trade.usercenter.interfaces.UserInterfaces"-->
                     <!--timeout="10000"/>-->
    <!--<dubbo:reference id="userCmsInterfaces" interface="com.le.jr.trade.usercenter.interfaces.UserCmsInterfaces"/>-->
    <!--<dubbo:reference id="userExchangeCardInterfaces"-->
                     <!--interface="com.le.jr.trade.usercenter.interfaces.UserExchangeCardInterfaces"/>-->
    <!--<dubbo:reference id="userBankInterfaces"-->
                     <!--interface="com.le.jr.trade.usercenter.interfaces.UserBankInterfaces"/>-->


    <!-- 合同管理 -->
    <!--<dubbo:reference id="contractTempletInterfaces"-->
                     <!--interface="com.le.jr.trade.contract.interfaces.ContractTempletInterfaces" timeout="500000"/>-->
    <!--<dubbo:reference id="contractTempletVersionInterfaces"-->
                     <!--interface="com.le.jr.trade.contract.interfaces.ContractTempletVersionInterfaces"-->
                     <!--timeout="500000"/>&lt;!&ndash; 由于合同模板版本有附件备份操作，所以将超时时间设置为5分钟 &ndash;&gt;-->

    <!-- 内容管理 -->
    <!--<dubbo:reference id="contentCategoriesInterfaces"-->
                     <!--interface="com.le.jr.trade.content.interfaces.ContentCategoriesInterfaces"/>-->
    <!--<dubbo:reference id="contentColumnInterfaces"-->
                     <!--interface="com.le.jr.trade.content.interfaces.ContentColumnInterfaces"/>-->
    <!--<dubbo:reference id="contentNewsInterfaces" interface="com.le.jr.trade.content.interfaces.ContentNewsInterfaces"/>-->
    <!--<dubbo:reference id="contentPushInterfaces" interface="com.le.jr.trade.content.interfaces.ContentPushInterfaces"/>-->
    <!--<dubbo:reference id="contentDisplayPackageInterfaces" interface="com.le.jr.trade.content.interfaces.ContentDisplayPackageInterfaces"/>-->
	<!-- 反馈 -->
    <!--<dubbo:reference id="feedBackInterfaces" interface="com.le.jr.trade.content.interfaces.FeedBackInterfaces"-->
                     <!--timeout="10000"/>-->

    <!-- 供应商管理 -->
    <!--<dubbo:reference id="venderInterface" interface="com.le.jr.trade.vender.interfaces.VenderServiceInterface"/>-->
    <!--&lt;!&ndash; 商户管理 &ndash;&gt;-->
    <!--<dubbo:reference id="merchantInterface"  interface="com.le.jr.trade.vender.interfaces.MerchantServiceInterface"/>-->

    <!--&lt;!&ndash; 兑付 &ndash;&gt;-->
    <!--<dubbo:reference id="paycashApplyServiceInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.PaycashApplyServiceInterface" timeout="30000"/>-->
    <!--<dubbo:reference id="payApplyServiceInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.PayApplyServiceInterface" timeout="30000"/>-->
    <!--<dubbo:reference id="payOrderServiceInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.PayOrderServiceInterface"/>-->
    <!--<dubbo:reference id="currentRefundInterfaces"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.CurrentRefundInterfaces"/>-->

    <!--&lt;!&ndash; 活期交易订单管理接口 &ndash;&gt;-->
    <!--<dubbo:reference id="tradeOrderServiceInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.TradeOrderServiceInterface"/>-->

    <!--&lt;!&ndash; 活期交易订单管理接口 &ndash;&gt;-->
    <!--<dubbo:reference id="currentPayOrderServiceInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.CurrentPayOrderServiceInterface"/>-->
    <!--&lt;!&ndash; 活期交易订单管理接口 &ndash;&gt;-->
    <!--<dubbo:reference id="payCash4CmsOtherInterface"-->
                     <!--interface="com.le.jr.trade.paycashcenter.interfaces.PayCash4CmsOtherInterface"/>-->

    <!--&lt;!&ndash; 对账 &ndash;&gt;-->
    <!--<dubbo:reference id="reconciliationInterfaceImpl"-->
                     <!--interface="com.le.jr.trade.reconciliation.interfaces.ReconciliationInterface" timeout="20000"/>-->
    <!--&lt;!&ndash; 支付 &ndash;&gt;-->
    <!--<dubbo:reference id="payInterface"-->
                     <!--interface="com.le.jr.trade.tradingcenter.interfaces.PayInterface"-->
                     <!--timeout="30000"/>-->

    <!--&lt;!&ndash; 理财计算 &ndash;&gt;-->
    <!--<dubbo:reference id="calculateProfitInterface"-->
                     <!--interface="com.le.jr.trade.financingbusiness.interfaces.CalculateProfitInterface"/>-->

    <!--&lt;!&ndash; reservation &ndash;&gt;-->
    <!--<dubbo:reference id="activityInfoInterfaces"-->
                     <!--interface="com.le.jr.trade.reservation.interfaces.ActivityInfoInterfaces"/>-->

    <!--&lt;!&ndash; activity &ndash;&gt;-->
    <!--<dubbo:reference id="activityEuroCupInterface"-->
                     <!--interface="com.le.jr.trade.activity.interfaces.ActivityEuroCupInterface"/>-->

    <!--&lt;!&ndash; 会计引擎 &ndash;&gt;-->
    <!--<dubbo:reference id="clearingInterface" interface="com.le.jr.trade.clearing.interfaces.ClearingInterface"-->
                     <!--timeout="20000"/>-->
    <!--<dubbo:reference id="clearingCalvaluePersistenceInterface" interface="com.le.jr.trade.clearing.interfaces.ClearingCalvaluePersistenceInterface"-->
                     <!--timeout="20000"/>-->
    <!--&lt;!&ndash;活期会计引擎相关服务&ndash;&gt;-->
    <!--<dubbo:reference id="financialCurrentInterface" interface="com.le.jr.trade.clearing.interfaces.FinancialCurrentInterface"/>-->
    <!--<dubbo:reference id="financialCurrentDetailInterface" interface="com.le.jr.trade.clearing.interfaces.FinancialCurrentDetailInterface"/>-->
    <!--<dubbo:reference id="financialCurrentReceivableFeeInterface" interface="com.le.jr.trade.clearing.interfaces.FinancialCurrentReceivableFeeInterface"/>-->

    <!--&lt;!&ndash; 活期交易接口 &ndash;&gt;-->
    <!--<dubbo:reference id="currentTradingInterface"-->
                     <!--interface="com.le.jr.trade.openapi.interfaces.trading.current.CurrentTradingInterface"/>-->
    <!--&lt;!&ndash; 活期交易接口日期工具类 &ndash;&gt;-->
    <!--<dubbo:reference id="utilInterface"-->
                     <!--interface="com.le.jr.trade.openapi.interfaces.com.test.lejr.util.UtilInterface"/>-->

    <!--&lt;!&ndash;活期订单&ndash;&gt;-->
    <!--<dubbo:reference id="buyerOrderHoldTotalInterface"-->
                     <!--interface="com.le.jr.trade.buyertrade.interfaces.BuyerOrderHoldTotalInterface"/>-->
    <!--<dubbo:reference id="buyerOrderDailyHoldInterface"-->
                     <!--interface="com.le.jr.trade.buyertrade.interfaces.BuyerOrderDailyHoldInterface"/>-->

    <!--&lt;!&ndash;会员管理&ndash;&gt;-->
    <!--<dubbo:reference id="memberInterfaces" interface="com.le.jr.trade.membercenter.interfaces.MemberInterfaces"/>-->
    <!--<dubbo:reference id="memberValueRuleInterface"-->
                     <!--interface="com.le.jr.trade.membercenter.interfaces.MemberValueRuleInterface"/>-->
    <!--&lt;!&ndash; 推送消息&ndash;&gt;-->
    <!--<dubbo:reference id="pushMessageService" interface="com.le.finance.push.service.PushMessageService"/>-->
    <!--&lt;!&ndash;短信管理&ndash;&gt;-->
    <!--<dubbo:reference id="shortMessageService" interface="com.le.finance.push.service.ShortMessageService"/>-->
    <!--&lt;!&ndash; 用户接口&ndash;&gt;-->
    <!--<dubbo:reference id="userInfoService" interface="com.le.finance.push.service.UserInfoService"/>-->
    <!--&lt;!&ndash; 标签接口&ndash;&gt;-->
    <!--<dubbo:reference id="tagService" interface="com.le.finance.push.service.TagService"/>-->
    <!--&lt;!&ndash; 审核接口&ndash;&gt;-->
    <!--<dubbo:reference id="auditRecordService" interface="com.le.finance.push.service.AuditRecordService"/>-->
    <!--&lt;!&ndash; 推送用户接口&ndash;&gt;-->
    <!--<dubbo:reference id="notificationUserService" interface="com.le.finance.push.service.NotificationUserService"/>-->
    <!--&lt;!&ndash; 资管对账：申购对账&ndash;&gt;-->
    <!--<dubbo:reference id="purchaseBoaInterfaces" interface="com.le.jr.trade.orderboa.interfaces.PurchaseBoaInterfaces"/>-->
    <!--&lt;!&ndash; 资管对账：赎回对账&ndash;&gt;-->
    <!--<dubbo:reference id="redeemBoaInterfaces" interface="com.le.jr.trade.orderboa.interfaces.RedeemBoaInterfaces"/>-->
    <!--&lt;!&ndash; 资管对账：异常处理&ndash;&gt;-->
    <!--<dubbo:reference id="abnormalHandleInterfaces"-->
                     <!--interface="com.le.jr.trade.orderboa.interfaces.AbnormalHandleInterfaces"/>-->
    <!--&lt;!&ndash; 系统配置接口&ndash;&gt;-->
    <!--<dubbo:reference id="configureServiceInterface"-->
                     <!--interface="com.le.jr.trade.configure.interfaces.ConfigureServiceInterface"/>-->
    <!--<dubbo:reference id="configureEnumServiceInterface"-->
                     <!--interface="com.le.jr.trade.configure.interfaces.ConfigureEnumServiceInterface"/>-->
    <!--<dubbo:reference id="figureTurnsServiceInterfaces"-->
                     <!--interface="com.le.jr.trade.configure.interfaces.FigureTurnsServiceInterfaces"/>-->
    <!--<dubbo:reference id="limitBankCardInterfaces"-->
                     <!--interface="com.le.jr.trade.configure.interfaces.LimitBankCardInterfaces"/>-->
    <!--<dubbo:reference id="pushManagerInterfaces"-->
                     <!--interface="com.le.jr.trade.configure.interfaces.PushManagerInterfaces"/>-->

    <!--&lt;!&ndash; 中超 &ndash;&gt;-->
	<!--<dubbo:reference id="activityCXLInterface" interface="com.le.jr.trade.activity.interfaces.ActivityCXLInterface"/>-->
    <!--&lt;!&ndash; 中超营销 &ndash;&gt;-->
    <!--<dubbo:reference id="marketActivityInterface" interface="com.le.jr.trade.activity.interfaces.MarketActivityInterface"/>-->

    <!--&lt;!&ndash; 营销 &ndash;&gt;-->
    <!--<dubbo:reference id="promotionServiceRpc" interface="com.lejr.marketing.promotion.rpc.api.PromotionServiceRpc"/>-->

    <!--&lt;!&ndash;申购订单上产生的赎回记录信息查询接口&ndash;&gt;-->
    <!--<dubbo:reference id="redemptionPayInfoInterfaces" interface="com.le.jr.trade.investment.interfaces.RedemptionPayInfoInterfaces" />-->

    <!--&lt;!&ndash;抽奖接口&ndash;&gt;-->
    <!--<dubbo:reference id="userLotteryRecordInterfaces" interface="com.le.jr.marketing.event.lottery.interfaces.UserLotteryRecordInterfaces" timeout="200000"/>-->
    <!--<dubbo:reference id="userBeanBusinessInterfaces" interface="com.le.jr.marketing.event.interfaces.UserBeanBusinessInterfaces" />-->

    <!--&lt;!&ndash;市场信息&ndash;&gt;-->
    <!--<dubbo:reference id="drawLuckyInterfaces" interface="com.le.jr.trade.marketing.interfaces.DrawLuckyInterfaces" />-->

    <!--&lt;!&ndash;权限&ndash;&gt;-->
    <!--<dubbo:reference id="actionService" interface="com.le.jr.trade.systemuser.service.system.ActionService"  />-->

    <!--<dubbo:reference id="blackListService" interface="com.le.jr.trade.systemuser.service.system.BlackListService" />-->

    <!--<dubbo:reference id="menuService" interface="com.le.jr.trade.systemuser.service.system.MenuService" />-->

    <!--<dubbo:reference id="resourceActionService" interface="com.le.jr.trade.systemuser.service.system.ResourceActionService" />-->

    <!--<dubbo:reference id="resourceService" interface="com.le.jr.trade.systemuser.service.system.ResourceService" />-->

    <!--<dubbo:reference id="roleMenuService" interface="com.le.jr.trade.systemuser.service.system.RoleMenuService" />-->

    <!--<dubbo:reference id="roleResourceActionService" interface="com.le.jr.trade.systemuser.service.system.RoleResourceActionService" />-->

    <!--<dubbo:reference id="deptService" interface="com.le.jr.trade.systemuser.service.DeptService" />-->

    <!--<dubbo:reference id="jrCrmRoleService" interface="com.le.jr.trade.systemuser.service.JrCrmRoleService" />-->

    <!--<dubbo:reference id="oplogService" interface="com.le.jr.trade.systemuser.service.OplogService" />-->

    <!--<dubbo:reference id="roleService" interface="com.le.jr.trade.systemuser.service.RoleService" />-->

    <!--<dubbo:reference id="systemUserService" interface="com.le.jr.trade.systemuser.service.SystemUserService" />-->

    <!--<dubbo:reference id="resourceServcie" interface="com.le.jr.trade.systemuser.service.ResourceServcie"/>-->

    <!--&lt;!&ndash; 债权受让 &ndash;&gt;-->
    <!--<dubbo:reference id="assignInfoInterface" interface="com.le.jr.trade.transfertrading.interfaces.AssignInfoInterface"/>-->
    <!--&lt;!&ndash; 债权转让 &ndash;&gt;-->
    <!--<dubbo:reference id="transferInfoInterface" interface="com.le.jr.trade.transfertrading.interfaces.TransferInfoInterface"/>-->
    <!--&lt;!&ndash; 费率配置 &ndash;&gt;-->
    <!--<dubbo:reference id="chargeConfigInterface" interface="com.le.jr.trade.transfertrading.interfaces.ChargeConfigInterface"/>-->
    <!--&lt;!&ndash; 转让条件配置 &ndash;&gt;-->
    <!--<dubbo:reference id="conditionConfigInterface" interface="com.le.jr.trade.transfertrading.interfaces.ConditionConfigInterface"/>-->
    <!--&lt;!&ndash; 转让条件配置 &ndash;&gt;-->
    <!--<dubbo:reference id="discountRateConfigInterface" interface="com.le.jr.trade.transfertrading.interfaces.DiscountRateConfigInterface"/>-->
    <!--&lt;!&ndash; 转让合同url &ndash;&gt;-->
    <!--<dubbo:reference id="transferContractInterface" interface="com.le.jr.trade.transfertrading.interfaces.TransferContractInterface"/>-->

    <!--&lt;!&ndash;页面资源&ndash;&gt;-->
    <!--<dubbo:reference id="pageResourceServiceInterface" interface="com.le.jr.trade.configure.interfaces.PageResourceServiceInterface" />-->

    <!--<dubbo:reference id="pageModuleServiceInterface" interface="com.le.jr.trade.configure.interfaces.PageModuleServiceInterface" />-->
    <!--<dubbo:reference id="homePageFunctionAreaServiceInterface" interface="com.le.jr.trade.configure.interfaces.HomePageFunctionAreaServiceInterface" />-->
    <!--<dubbo:reference id="homePageActivityAreaServiceInterface" interface="com.le.jr.trade.configure.interfaces.HomePageActivityAreaServiceInterface" />-->
    <!--<dubbo:reference id="disoveryFunctionAreaServiceInterface" interface="com.le.jr.trade.configure.interfaces.DisoveryFunctionAreaServiceInterface" />-->
    <!--&lt;!&ndash; b2b统计 &ndash;&gt;-->
    <!--<dubbo:reference id="b2BOrderAmountStatisticsInterface" interface="com.le.jr.trade.b2b.ordercenter.interfaces.B2BOrderAmountStatisticsInterface"/>-->
    <!--&lt;!&ndash; b2b统计 &ndash;&gt;-->
    <!--<dubbo:reference id="b2BOrderCommonInterface" interface="com.le.jr.trade.b2b.ordercenter.interfaces.B2BOrderCommonInterface"/>-->
    <!--&lt;!&ndash; b2b统计 &ndash;&gt;-->
    <!--<dubbo:reference id="b2BOrderProductionInterface" interface="com.le.jr.trade.b2b.ordercenter.interfaces.B2BOrderProductionInterface"/>-->
</beans>